gramosdatafactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "gramosdatafactory"
		},
		"Conector_ADLS_DataFactory_accountKey": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accountKey\"de \"Conector_ADLS_DataFactory\""
		},
		"Conector_AzureDatabricks_DataFactory_accessToken": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accessToken\"de \"Conector_AzureDatabricks_DataFactory\""
		},
		"Conector_AzureDatabricks_DataFactory2_accessToken": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accessToken\"de \"Conector_AzureDatabricks_DataFactory2\""
		},
		"Conector_ADLS_DataFactory_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://gramosz.dfs.core.windows.net/"
		},
		"Conector_AzureDatabricks_DataFactory_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1003-035254-nuafmn16"
		},
		"Conector_AzureDatabricks_DataFactory2_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1003-035254-nuafmn16"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Conector_ADLS_DataFactory')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked server entre los servicios Azure Data Lake Storage Gen 2 y Data Factory Studio",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Conector_ADLS_DataFactory_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Conector_ADLS_DataFactory_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Conector_AzureDatabricks_DataFactory')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-2727626881471145.5.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('Conector_AzureDatabricks_DataFactory_accessToken')]"
					},
					"existingClusterId": "[parameters('Conector_AzureDatabricks_DataFactory_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Conector_AzureDatabricks_DataFactory2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-2727626881471145.5.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('Conector_AzureDatabricks_DataFactory2_accessToken')]"
					},
					"existingClusterId": "[parameters('Conector_AzureDatabricks_DataFactory2_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingesta_capa_bronce_plata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ingesta de datos desde la capa bronce hacia la capa plata",
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/gabriel15_30@hotmail.com/Ingesta_capa_bronce_a_plata"
						},
						"linkedServiceName": {
							"referenceName": "Conector_AzureDatabricks_DataFactory",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Conector_AzureDatabricks_DataFactory')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingesta_capa_plata_oro')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "ingesta de la capa bronce a la capa oro",
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/gabriel15_30@hotmail.com/Ingesta_capa_plata_a_oro"
						},
						"linkedServiceName": {
							"referenceName": "Conector_AzureDatabricks_DataFactory2",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Conector_AzureDatabricks_DataFactory2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Archivos_Input_ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Conector_ADLS_DataFactory",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "proyectofinal/input",
						"fileSystem": "gabrielramos"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Cod_Categoria",
						"type": "String"
					},
					{
						"name": "Nombre",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Conector_ADLS_DataFactory')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Archivos_capa_bronce_ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Conector_ADLS_DataFactory",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Archivo_capa_bronce": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().Archivo_capa_bronce",
							"type": "Expression"
						},
						"folderPath": "proyectofinal/capa_bronce",
						"fileSystem": "gabrielramos"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Conector_ADLS_DataFactory')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Archivos_input_copiar_ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Conector_ADLS_DataFactory",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Archivo_input": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().Archivo_input",
							"type": "Expression"
						},
						"folderPath": "proyectofinal/input",
						"fileSystem": "gabrielramos"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Cod_Categoria",
						"type": "String"
					},
					{
						"name": "Nombre",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Conector_ADLS_DataFactory')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingesta_input_capa_bronce')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ingesta de datos de input a la capa bronce",
				"activities": [
					{
						"name": "obtener_metadata_input",
						"description": "Obtener metadata de la carpeta input para detectar archivos",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Archivos_Input_ADLS",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "obtener_metadata_input",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('obtener_metadata_input').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Archivos_input_copiar_ADLS",
											"type": "DatasetReference",
											"parameters": {
												"Archivo_input": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Archivos_capa_bronce_ADLS",
											"type": "DatasetReference",
											"parameters": {
												"Archivo_capa_bronce": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Archivos_Input_ADLS')]",
				"[concat(variables('factoryId'), '/datasets/Archivos_input_copiar_ADLS')]",
				"[concat(variables('factoryId'), '/datasets/Archivos_capa_bronce_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ejecuta_todo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ejecuta todos los pipelines",
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ingesta_input_capa_bronce",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ingesta_capa_bronce_plata",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ingesta_capa_plata_oro",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ingesta_input_capa_bronce')]",
				"[concat(variables('factoryId'), '/pipelines/ingesta_capa_bronce_plata')]",
				"[concat(variables('factoryId'), '/pipelines/ingesta_capa_plata_oro')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ejecuta_pipeline_programada')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ejecuta_todo",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 10,
						"startTime": "2024-10-04T00:00:00",
						"endTime": "2024-10-06T05:22:00",
						"timeZone": "SA Pacific Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ejecuta_todo')]"
			]
		}
	]
}